<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="login-card card-block">
          <p>Invalid Key</p>
          <a href="<%= login_path %>">Back to page</a>
        </div>
      </div>
    </div>
  </div>
</section>