.card-block {
    padding: 1.25rem 0 0.25rem 0.25rem;
}
#cke_17, #cke_25, #cke_30, #cke_34, #cke_43, #cke_53, #cke_56{
  display: none;
}
#cke_131, #cke_139, #cke_144, #cke_148, #cke_157, #cke_167, #cke_170{
  display: none;
}
#cke_136, #cke_144, #cke_149, #cke_153, #cke_162, #cke_172, #cke_175{
  display: none;
}