<div class="row custom-grade-data force-hidden">
  <div class="col-lg-6 md-group-add-on">
      <span class="md-add-on">
        <i class="icofont icofont-coins"></i>
      </span>
    <div class="md-input-wrapper">
      <input type="number" step="0.01" class="md-form-control md-static" id="txtCustomDollarCar" value="<%= @customer.customDollarCar %>" name="customDollarCar">
      <label>($) Car Bonus</label>
    </div>
  </div>
  <div class="col-lg-6 md-group-add-on">
      <span class="md-add-on">
       <i class="icofont icofont-coins"></i>
      </span>
    <div class="md-input-wrapper">
      <input type="number" step="0.01" class="md-form-control md-static" id="txtCustomPercCar" value="<%= @customer.customPercCar %>" name="customPercCar">
      <label>(%) Car Bonus</label>
    </div>
  </div>
  <div class="col-lg-6 md-group-add-on">
    <span class="md-add-on">
     <i class="icofont icofont-coins"></i>
    </span>
    <div class="md-input-wrapper">
      <input type="number" step="0.01" class="md-form-control md-static" id="txtCustomDollarSteel" value="<%= @customer.customDollarSteel %>" name="customDollarSteel">
      <label>($) Steel Bonus</label>
    </div>
  </div>
  <div class="col-lg-6 md-group-add-on">
    <span class="md-add-on">
     <i class="icofont icofont-coins"></i>
    </span>
    <div class="md-input-wrapper">
      <input type="number" step="0.01" class="md-form-control md-static" id="txtCustomPercSteel" value="<%= @customer.customPercSteel %>" name="customPercSteel">
      <label>(%) Steel Bonus</label>
    </div>
  </div>
</div>