<% contacts.each do |contact| %>
  <div class="col-lg-12 row contact-edit">
    <div class="col-lg-4 md-group-add-on">
        <span class="md-add-on">
        <i class="icofont icofont-ui-user"></i>
        </span>
      <div class="md-input-wrapper">
        <input type="text" class="md-form-control first-name md-static" value="<%= contact.firstName %>" name="contacts[firstName][]">
        <input type="hidden" class="md-form-control idContact md-static" value="<%= contact.idContact %>">
        <label>Contact First Name <span class="required">*</span></label>
      </div>
    </div>
    <div class="col-lg-4 md-group-add-on">
        <span class="md-add-on">
        <i class="icofont icofont-ui-user"></i>
        </span>
      <div class="md-input-wrapper">
        <input type="text" class="md-form-control last-name md-static" value="<%= contact.lastName %>" name="contacts[lastName][]">
        <label>Contact Last Name <span class="required">*</span></label>
      </div>
    </div>
    <div class="col-lg-3 md-group-add-on">
        <span class="md-add-on">
        <i class="icofont icofont-ui-user"></i>
        </span>
        <div class="md-input-wrapper">
           <select class="md-form-control payment-method md-static selectcash" name="contacts[paymentMethod][]">
              <!-- <option disabled selected style="display:none"></option> -->
              <option selected="selected"><%= contact.paymentMethod %></option>
              <option>By Check</option>
              <option>Cash</option>
              <option>Electronic Transfer</option>
              <!-- <option selected="<%#= contact.paymentMethod == "Electronic Transfer" ? ' true' : "false" %>">Electronic Transfer</option> -->
           </select>
           <label>Contact Prefered Payment Method <span class="required">*</span></label>
        </div>
     </div>
     <div class="col-lg-1 md-group-add-on">                     
        <span onclick="checkContactToRemove($(this));" class="btn btn-danger waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove" value="`+(contactData.id || '' )+`">
        <i class="icofont icofont-ui-remove"></i>
        </span>
     </div>
  </div>
<% end %> 
