<div class="content-wrapper">
        <!-- Container-fluid starts -->
        <div class="container-fluid">
            <!-- Main content starts -->
            <div >
                <!-- Row Starts -->
                <div class="row">
                    <div class="col-sm-12 p-0">
                        <div class="main-header">
                            <h4>Customers</h4>
                            <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                                <li class="breadcrumb-item">
                                    <a href="/dashboard">
                                        <i class="icofont icofont-home"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item">Clients</li>
                                <li class="breadcrumb-item"><a href="/customers">Customers</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- Row end -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-header-text d-inline-block m-b-0 f-w-600">
                                    Customers
                                </h5>
                                <a href="/customers/new" class="btn btn-primary waves-effect waves-light f-right md-trigger btnAddCustomer" data-modal="modal-13">
                                    <i class="icofont icofont-plus m-r-5"></i>  Add new customer
                                </a>
                            </div>
                            <div class="card-block">
                                <div class="row">
                                    <div class="md-group-add-on col-lg-12">
                                        <span class="md-add-on">
                                            <i class="icofont icofont-ui-search"></i>
                                        </span>
                                        <div class="md-input-wrapper">
                                            <input type="text" class="md-form-control search-bar-client" name="filter" id="customer-search-filter">
                                            <label>Search</label>
                                        </div>
                                    </div>
                                    <div class="table-content crm-table">
                                        <div class="project-table">
                                            <table id="crm-contact" class="table table-striped nowrap table-responsive">
                                                <thead>
                                                <tr>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th><i class="icofont icofont-bank-alt"></i></th>
                                                    <th class="tablephone">Phone Number</th>
                                                    <th>Extension</th>
                                                    <th>Heard Of Us</th>
                                                    <th>Grade</th>
                                                    <th class="tableaction">Action</th>
                                                </tr>
                                                </thead>
													   <%= render :partial => 'customers/customers_data', locals: {customers: @customers} %>
                                                <tfoot>
                                                <tr>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th><i class="icofont icofont-bank-alt"></i></th>
                                                    <th>Phone Number</th>
                                                    <th>Extension</th>
                                                    <th>Heard Of Us</th>
                                                    <th>Grade</th>
                                                    <th>Action</th>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid ends -->
    </div>
</div>
<% content_for :js do %>
    <script>
    function growlOfSuccess(message) {
        $.growl({
            message: message
        },{
            type: "success",
            allow_dismiss: true,
            label: 'Cancel',
            className: 'btn-xs btn-inverse',
            delay: 0,
            placement: {
                from: 'top',
                align: 'center'
            },
            animate: { enter: 'animated fadeInDown' }
        });
    }

    function growling(message) {
      $.growl({
          message: message
      },{
          type: "danger",
          allow_dismiss: true,
          label: 'Cancel',
          className: 'btn-xs btn-inverse',
          placement: {
              from: 'top',
              align: 'center'
          },
          delay: 0,
          animate: { enter: 'animated fadeInDown' }
      });
    }

    $(document).ready(function() {
      $("#crm-contact").DataTable({
          "paging": false,
          "searching": false,
          "info":     false,
          "order": [],
          "fixedHeader": true,
          "destroy": true,
      });
    });
    function delay(callback, ms) {
      var timer = 0;
      return function() {
        var context = this, args = arguments;
        clearTimeout(timer);
        timer = setTimeout(function () {
          callback.apply(context, args);
        }, ms || 0);
      };
    }
      $(".search-bar-client").keyup(delay(function(e) {
        var filter = $(this).val();
            $.ajax({
                url: "/api/v1/clients?filter="+filter,
                method: "get",
                success: function(clients) {
                    $(".table-customers").html("");
                    clients.forEach(function(customer) {
                        number  = ""
                        v =  customer.phone
                        if (v.length >= 2) {
                            if (v.charAt(0) == '1') {
                                if (v.charAt(1) != '-') {
                                    v = "1-" + v.substring(1, v.length);
                                }
                                if (v.length >= 6 && v.charAt(5) != '-') {
                                    v = v.substring(0, 5) + "-" + v.substring(5, v.length);
                                }
                                if (v.length >= 10 && v.charAt(9) != '-') {
                                    v = v.substring(0, 9) + "-" + v.substring(9, v.length);
                                }
                                number = v

                            } else if (v.length >= 9) {
                                if (v.charAt(3) != '-') {
                                    v = v.substring(0, 3) + "-" + v.substring(3, v.length);
                                }
                                if (v.length >= 8 && v.charAt(7) != '-') {
                                    v = v.substring(0, 7) + "-" + v.substring(7, v.length);
                                }
                                number = v

                            } else if (v.length >= 4) {
                                if (v.charAt(3) != '-') {
                                    v = v.substring(0, 3) + "-" + v.substring(3, v.length);
                                }
                                if (v.length >= 8 && v.charAt(7) != '-') {
                                    v = v.substring(0, 7) + "-" + v.substring(7, v.length);
                                }
                                number = v
                            }
                        };
                        $(".table-customers").append(`
                            <tr>
                                <td>`+ customer.firstName +`</td>
                                <td>`+ customer.lastName +`</td>
                                <td>`+ customer.type +`</td>
                                <td>`+ number +`</td>
                                <td>`+ customer.extension +`</td>
                                <td>`+ customer.heardofus.type +`</td>
                                <td>`+ customer.grade +`</td>
                                <td class="faq-table-btn">
                                `+($(".designation").text().trim().includes("ADMIN") || $(".designation").text().trim() == "dispatcher" ?
                                    `<a href="/customers/`+ customer.idClient +`/edit" class="btn btn-primary waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                        <i class="icofont icofont-ui-edit"></i>
                                    </a>` : "")+`
                                    <a href="/customers/`+ customer.idClient +`" class="btn btn-success waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="View">
                                        <i class="icofont icofont-eye-alt"></i>
                                    </a>
                                </td>
                            </tr>`);
                    });
                }
        });
    }, 500));

    // var customersList = <%#= JSON.stringify(@customers.to_json) %>
    // var userRole = "<%#= user.roles %>"
    </script>
<% end %>
