/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require icofont/css/icofont.css
 *= require simple-line-icons/css/simple-line-icons.css
 *= require select2/css/select2.min.css
 *= require dropzone/css/dropzone.css
 *= require dropify-master/dist/css/dropify.min.css
 *= require bootstrap/css/bootstrap.min.css
 *= require cropper/css/cropper.css
 *= require chartist/css/chartist.css
 *= require jquery.steps/css/jquery.steps.css
 *= require fullcalendar/css/fullcalendar.min.css
 *= require fullcalendar/css/fullcalendar.print.min.css
 *= require fullcalendar-scheduler-1.9.0/scheduler.min.css
 *= require main.css
 *= require style.css
 *= require responsive.css
 *= require datedropper/datedropper.css
 *= require jquery-confirm/dist/jquery-confirm.min.css
 */

.error{
    right: 0 !important;
    bottom: -22px !important;
    top: inherit  !important;
    left: inherit !important;
    color:  red;
}
.md-input-wrapper{
    position: relative !important
}

.hiddenaddress{
    display: none;
}